body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title {
  display: none;
}

.board {
  width: 100vmin;
  height: 90vmin;
  background-color: lightgray;
  border: 0.50vmin solid black;
  margin-top: 40px;
  display: grid;
  grid-template-rows: repeat(21, calc(100%/21));
  grid-template-columns: repeat(21, calc(100%/21));
}

.snake {
  background-color: blue;
  border: 0.25vmin solid black;
}

.food {
  background-color: yellow;
  border: 0.25vmin solid black;
}

.lost-msg {
  display: none;
  position: fixed;
  top: 0%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgb(27, 26, 26);
  flex-direction: column;
  color: white;
  font-size: 50px;
}

.lost-msg button {
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Cinzel', serif;
  padding: 5px 5px;
  border-radius: 15px;
}

.lost-msg button:hover {
  background-color: black;
  padding: 15px 15px;
  color: white;
}

.lost-msg.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  width: 30vmin;
  height: 30vmin;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .controller {
  display: none;
}

.snake-speed {
  width: 30vmin;
  height: 30vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Cinzel', serif;
}

.speed-title {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.speed-up-btn {
  width: 15vmin;
  height: 5vmin;
  color: white;
  background-color: black;
  margin: 10px;
  border-radius: 15px;
  border-color: white;
}

.speed-down-btn {
  width: 15vmin;
  height: 5vmin;
  color: white;
  background-color: black;
  margin: 10px;
  border-radius: 15px;
  border-color: white;
}

@media only screen and (max-width: 600px) {
  * {
    touch-action: manipulation;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .game-title {
    display: block;
  }
  .game-title h1{
    color: white;
    height: 2vmin;
    font-size: 50px;
  }

  .board {
    height: 120vmin;
  }

  .settings {
    width: 100%;
    height: 30vmin;
    background-color: black;
  }

  .controller {
    width: 50%;
    height: 30vmin;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 35px);
    justify-self: center;
    align-self: center;
  }

  .up-btn {
    width: 30px;
    height: 30px;
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: center;
    align-self: end;
  }
  
  .right-btn {
    width: 30px;
    height: 30px;
    grid-row-start: 2;
    grid-column-start: 3;
    justify-self: start;
    align-self: center;
  }

  .down-btn {
    width: 30px;
    height: 30px;
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
  }

  .left-btn {
    width: 30px;
    height: 30px;
    grid-row-start: 2;
    grid-column-start: 1;
    justify-self: end;
    align-self: center;
  }

  .snake-speed {
    width: 50%;
    height: 30vmin;
    display: flex;
    justify-content: flex-start;

  }

  .speed-title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: white;
  }

  .speed-up-btn {
    width: 20vmin;
    height: 5vh;
    margin: 0px;
    border-color: white;
  }
  
  .speed-down-btn {
    width: 20vmin;
    height: 5vh;
    margin: 0px;
    border-color: white;
  } 
}
