body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 100vmin;
  height: 90vmin;
  background-color: lightgray;
  display: grid;
  grid-template-rows: repeat(21, calc(100%/21));
  grid-template-columns: repeat(21, calc(100%/21));
}

.snake {
  background-color: blue;
  border: 0.25vmin solid black;
}

.food {
  background-color: yellow;
  border: 0.25vmin solid black;
}
